@mixin flex-center($direction, $alignment, $justify){
  display:flex;
  flex-direction: $direction;
  align-items: $alignment;
  justify-content: $justify;
}

.nav-list{
  list-style: none;
  display: flex;

  li{
    margin: auto 20px;
  }
}

//Login Component
.login{
  @include flex-center(column, center, center);
  margin: 10vh auto;
  width: 25vw;

  .input{
    width: 100%;
  }

  Button{
    margin: 20px;
    width: 100%;
  }
}

a{
  text-decoration: none;
}

.NavBar{
  margin-bottom: 20px;
}

.welcomeBanner{
  height: 20px;
  // background-color: #e77878;
  background-color: #D3D3D3;


  h6{
    margin:  1vh 2vw;
    // color: white;
    color: #888888;
  }
}
